a {
    color:inherit;
}
.menu {
	&__menu-item {
        font-weight: 400;
        
        & > .menu__sub-menu {
            display: none;
        }

        &--selected {
            font-weight: 700;

            & > .menu__sub-menu {
                display: block;
            }
        }
	}
	
    &__sub-menu {
        &--level- {
            &1 {
                color:#000;
            }
            &2 {
                color:#444;
            }
            &3 {
                color:#888;
            }
            &4 {
                color:#ccc;
            }
        }
	}
}




.heightr {
    background:peru;
	width: 640px;

	display: flex;
	flex-direction: row;
	

    .heightr-element {
		flex: 1;
		background:hotpink;
		margin:10px;
    }
}



